a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100vw;
}

.main-container {
  width: 100vw;
  min-height: calc(100vh - 90px);
}

.nav-logo-container {
  display: inline-block;
  height: 41px;
  margin-left: 50px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.nav-logo {
  background-repeat: no-repeat;
  display: inline-block;
  height: 41px;
}

.nav-navbar-container {
  margin-right: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.nav-links-container  {
  display: inline-block;
  margin-right: 27px;
}

.nav-language-container {
  display: inline-block;
}

.nav-link {
  color: #808184;
  line-height: 90px;
  margin-right: 62px;
  text-transform: uppercase;
}

.section-1-swiper-placeholder {
  background-image: url("../img/top_swiper/top_swiper_placeholder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 50.1%;
  width: 100%;
}
